<html>
    <body>
        <h2>Login Form</h2>
        <form method = "post", action = "/loginprocess">
            <input type = "text" name = "txt1" required />
            <input type="submit"></br>
        </form>
    </body>
</html>